  ////////////////////////////////
 // 404 /////////////////////////
////////////////////////////////

.page-not-found {
	background-image: none!important;
	height: initial!important;
	
	.sad-face {
		vertical-align: -3px;
	}
	
	.hero-inner {
		
		.hero-content {
			
			&.four-oh-four {
				margin: 100px 0 0 0;
				
				@include max-screen(960px){
					margin-top: 0;
					transition: 1s;
				
					figure.face {
						display: none;
						transition: .5s;
					}

				} // end 90 break

				.message {
					margin-top: 120px;
					padding: 50px;
					
					img {
						display: none;
						margin: 50px auto 0;
						width: 80%;
					}

					@include max-screen(960px){
						margin-top: 50px;
						padding: 0;
						transition: .5s;
						width: 100%;

						img {
							display: block;
						}

					} // end message break

					ul {
						color: $white;
					}

					a.home {
						background: $blood;
						margin-top: 25px;
						width: 50%;
						
						&:hover {
							background: darken($medicalGreen, .3);
						}

						@include max-screen(960px){
							transition: .3s;
							width: 100%;
						}
					}

				} // end message

			} // end 404 content


		} // end hero content

	} // end hero inner 

} // end page not found <--