  ////////////////////////////////
 // COLOR PALLETE ///////////////
////////////////////////////////

$teal : #22BDAF;
$medicalGreen : rgba(0, 85, 76, 1);
$bgGreen: rgba(236, 252, 236, 0.8);
$lightGreen: rgba(0, 85, 76, 0.3);
$blood : #D93537;

$white : #FFF;
$black : #000;

