  ////////////////////////////////
 // IMPORT FILES ////////////////
////////////////////////////////

@import "compass";
@import "compass/typography/vertical_rhythm";
@import 'modular-scale';
@import "singularitygs";

// Partial Files

@import "0_Utility/**/*";
@import "1_Core/**/*";
@import "2_Pieces/**/*";
@import "3_Components/**/*";
@import "4_Regions/**/*";
@import "5_Layouts/**/*";
@import "6_Pages/**/*";

// Box Sizing

* { 
	@include box-sizing(border-box);
}

html, body {
    height:100%;
}


body {
	background: $white;
	color: $teal;
	font-family: $openSans;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	@include font-size(12px);
	line-height: 1.5em;
}

a {
	color: $white;
	text-decoration: none;
}

.top-outer {
	bottom: -45px;
	display: none;
	height: 80px;
	left: 50%;
	margin: 0 0 0 -40px;
	position: fixed;
	width: 80px;
	z-index: 100;
    
    span {
        display: block;
        padding-top:8px;
    }	
}