<section class="large-item modal" id="modal">
    <a href="#" class="close">x</a>
    
    <div class="item-large row">
        
        <img class="large-image span_8" src="<%= imageUrl %>" alt="<%= title %>" title="<%= title %>" />
        
        <div class="info span_4">
            
            <h1 class="title"><%= title %></h1>
            
            <p class="blurb"><%= blurb %></p>

            <h2>Technologies</h2>
            
            <ul class="technologies">
            </ul><!-- / end technologies -->
       
        </div><!-- / end info -->

    </div><!-- / end item large row -->

</section><!-- / end modal -->